* {
  font-family: "Lobster", cursive;
  font-weight: bold;
  text-align: center;
}

.App-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-text {
  font-size: calc(10px + 4vmin);
  font-weight: bold;
}

/* Hover effect for the sentence */
.App-text:hover {
  color: #391253;
}

.App-gif {
  width: 300px;
  height: 350px;
}

.App-button {
  margin: 10px;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.App-button:before {
  content: "\1F498";
  font-size: 20px;
  margin-right: 5px;
}

/* Hover effect */
.App-button:hover {
  background-color: #e60000;
}

/* Style for the second button (No) */
.App-button:nth-child(2) {
  background-color: #666;
  transition: background-color 0.3s ease;
}

.App-button:nth-child(2):before {
  content: "\1F494";
  color: #666;
}

/* Hover effect for the second button */
.App-button:nth-child(2):hover {
  background-color: #404040;
}

.App-text-success {
  font-size: 19px;
  line-height: 1.5;
}

.App-text-success:before {
  content: "\1F496";
  color: #ff4d4d;
  margin-right: 5px;
  font-size: 24px;
}

/* Hover effect for the success text */
.App-text-success:hover {
  color: #ff4d4d;
}

.App-text-date {
  font-size: 18px;
}

.App-text-date:before {
  content: "\1F495";
  color: #ff4d4d;
  margin-right: 5px;
}

.App-success {
  padding: 20px;
}
